<table class="table">
<thead>
  <tr>
    <th>Views</th>
    <th>Question</th>
  </tr>
</thead>
<tbody>
    <tr>
      <td>{{views-summary model.views}}</td>
      <td>{{model.title}}</td>
    </tr>
    <tr>
      <td></td>
      <td>{{model.description}}</td>
    </tr>
</tbody>
</table>
